# ignore maven build folder
target/

# pom-derived eclipse jdt files
.project
.classpath
org.eclipse.*.prefs

# ignore IntelliJ files
/.idea/
ui/modules-ui.iml
core/modules-core.iml
modules-template.iml
/img.png
